body{
  font-size: 0.16rem;
  overflow: hidden;
}
html, body, #app{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Blue sky','Blue Sky Standard Light', 'Noto Sans CJK SC Light' !important;
}
html, body > * {
  transform: translate3d(0, 0, 0);
}
//针对iPhone 3
@media only screen and (min-device-width: 320px){
  html{
    font-size: 100px;
  }
}
//针对iPhone 4, 5c,5s, 所有iPhone6的放大模式，个别iPhone6的标准模式
@media only screen and (min-device-width: 320px)and (-webkit-min-device-pixel-ratio: 2) {
  html{
    font-size: 100px;
  }
}
//针对大多数iPhone6的标准模式
@media only screen and (min-device-width: 375px)and (-webkit-min-device-pixel-ratio: 2) {
　html{
    font-size: 100px;
  }
}
//针对所有iPhone6+的放大模式
@media only screen and (min-device-width: 375px)and (-webkit-min-device-pixel-ratio: 3) {
  html{
    font-size: 110px;
  }
}
//针对所有iPhone6+的标准模式,414px写为412px是由于三星Nexus 6为412px，可一并处理
@media only screen and (min-device-width:412px) and (-webkit-min-device-pixel-ratio: 3) {　　
  html{
    font-size: 120px;
  }
}
/*iPhoneX的适配*/ 
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  html{
    font-size: 110px;
  }
}
button, button:hover, li:hover, a:hover , li , a , *:hover, img {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

// 写进html文本中的样式
.textColor{
  font-size: 0.24rem;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 0.38rem;
  font-style: normal;
  margin: 0 0.05rem;
}
